body{
  background-color: lightgreen;
}

@keyframes changeCol {
  0% {color:red;}
  12.5% {color:white;}
  25% {color:yellow;}
  37.5% {color:grey;}
  50% {color:green;}
  62.5% {color:blue;}
  75% {color:orange;}
  87.5% {color:purple;}
  100% {color:red;}
}

@keyframes changeLoc {
    0% {top:52%}
    50% {top:48%;}
    100% {top:52%;}
}

#yee{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  font-size: 4em;
  animation: changeCol 5s, changeLoc 2s ease-in-out;
  animation-iteration-count: infinite;
}
