body {
  background-color: #ffe500;
  font-size:5em;
}

#title{
  text-shadow: 0 1px 0 grey,
  0 2px 0 grey,
  0 3px 0 grey,
  0 4px 0 grey,
  0 5px 0 grey,
  0 6px 1px grey,
  0 0 5px grey,
  0 1px 3px grey,
  0 3px 5px grey,
  0 5px 10px grey,
  0 10px 10px grey,
  0 20px 20px grey;
}


#canvas-wrap {
  position:relative;
}

a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:black;
}

button{
  font-size: 50px;
  border:5px solid black;
}

#store{
  color:white;
  background-color: #00ff00;
}

#reset{
  color:skyblue;
  background-color: red;
  transition: 0.5s;
}

#reset:hover{
  background-color: yellow;
}

.overlap {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  position:absolute;
  top:0;
  left:0%;
  z-index:0;
  text-align: center;
}
